<div class="header">
    <div style="width: 20%;">
        <div class="logo">
            <mat-icon style="padding-top: 4px;">assignment_ind</mat-icon>
            <H1>POSR</H1>
        </div>
    </div>
    <div class="signpost">
        <button mat-button routerLink="/welcome-page">Úvod</button>
        <button mat-button routerLink="/hospital">Nemocnice</button>
        <button mat-button routerLink="/personal">Zdravotníci</button>
        <button mat-button routerLink="/vaccinated">Zaočkovaní</button>
    </div>
    <div class="auth-signpost">
        <button routerLink="/login">Prihlásenie</button>
        <button routerLink="/register">Registrácia</button>
    </div>
</div>