<div class="header">
     <div style="width: 20%;">
        <H2 style="width: min-content; font-size: 30px;">Informačný
            Očkovací
            systém
        </H2>
    </div>
    <div class="signpost">
        <button routerLink="/welcome-page">Úvod</button>
        <button routerLink="/hospital">Nemocnice</button>
        <button routerLink="/personal">Zdravotníci</button>
        <button routerLink="/vaccinated">Zaočkovaní</button>
    </div>
    <div class="auth-signpost">
        <button class="auth-button" routerLink="/login">Prihlásenie</button>
        <button class="auth-button" routerLink="/register">Registrácia</button>
    </div>
</div>