<div class="middle-field">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Úvod">
            <div class="mat-parts">
                <H2 style="text-align: center;">Vitajte na stránke prehľadu očkovania v SR</H2>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Dôležité odkazy
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a routerLink="/register">Registrácia</a> <br>
                        <a routerLink="/login">Prihlásenie</a>
                    </div>
                </mat-expansion-panel>
            </div>
        </mat-tab>
        <mat-tab label="O nás">
            <div class="mat-parts">
                <p>nulla,
                    convallis at vestibulum eu, sagittis sed nibh. Nunc feugiat auctor elit, id blandit velit malesuada
                    a.
                    Donec
                    odio ex, pellentesque nec feugiat et, cursus ac purus. Morbi viverra pellentesque enim et dignissim.
                    Donec
                    convallis maximus interdum.
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Kontakty">
            <div class="mat-parts">
                <p>nulla,
                    convallis at vestibulum eu, sagittis sed nibh. Nunc feugiat auctor elit, id blandit velit malesuada
                    a.
                    Donec
                    odio ex, pellentesque nec feugiat et, cursus ac purus. Morbi viverra pellentesque enim et dignissim.
                    Donec
                    convallis maximus interdum.
                </p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>