<div class="middle-field">
    <H2 style="text-align: center;">Vitajte na stránke prehľadu očkovania v SR</H2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac massa et mi luctus faucibus id eu urna. Proin ut
        consequat ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla eu
        urna
        a metus porta accumsan eget eget nisi. Proin nec nisi id neque vehicula dapibus. Nullam dapibus rutrum dolor,
        sit
        amet condimentum massa auctor at. Sed ac mattis mauris.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium venenatis odio, vitae dapibus sem
        pellentesque sollicitudin. Integer hendrerit mi ut nisi sodales laoreet. Fusce mollis at diam non commodo. Cras
        maximus sollicitudin feugiat. Nam turpis mi, tristique eget lectus vel, aliquam malesuada lectus. Duis luctus
        semper augue, nec semper purus malesuada id. In rutrum eget nisi eget bibendum. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas. Integer feugiat mauris quis urna efficitur,
        quis ornare metus lacinia. Morbi vehicula libero eu placerat mattis. Sed eu dui quis eros lacinia elementum.
        Cras vehicula imperdiet eleifend. Aenean mattis justo justo, id tincidunt enim suscipit auctor. Donec bibendum
        tincidunt aliquet. Suspendisse aliquet diam et enim ultricies, id interdum mi dapibus. Etiam tincidunt blandit
        efficitur.

        Vivamus faucibus commodo orci, varius feugiat ante congue lobortis. Mauris suscipit enim sit amet tempor
        lobortis. Sed nec fermentum mauris, quis vulputate erat. Mauris hendrerit porttitor lobortis. Pellentesque
        posuere pretium suscipit. Sed sed eleifend felis. Fusce vitae magna rutrum, iaculis tortor in, vehicula leo.

        Morbi congue eros eu neque feugiat fermentum. Praesent lectus nunc, molestie vitae odio sit amet, pharetra
        tempus lectus. Nunc fermentum, ipsum id varius scelerisque, eros tellus malesuada eros, rhoncus blandit urna
        nisi ac ipsum. Donec viverra iaculis odio a feugiat. Aliquam erat volutpat. Fusce feugiat posuere malesuada. Nam
        suscipit turpis non sem sagittis pretium. Nam mattis, magna ac semper luctus, leo est vestibulum mauris, a
        blandit justo erat in sapien. Cras nec ipsum eget ante ornare consectetur non vitae sem. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Praesent urna nulla,
        convallis at vestibulum eu, sagittis sed nibh. Nunc feugiat auctor elit, id blandit velit malesuada a. Donec
        odio ex, pellentesque nec feugiat et, cursus ac purus. Morbi viverra pellentesque enim et dignissim. Donec
        convallis maximus interdum.

        Suspendisse cursus est quis scelerisque lobortis. Suspendisse semper nunc ut ipsum gravida, ut tristique magna
        tempus. Maecenas eleifend odio id porta vehicula. Praesent id nunc blandit, bibendum ligula venenatis,
        condimentum orci. Sed semper metus eros, vel interdum turpis faucibus at. Vivamus vel dolor ullamcorper,
        bibendum odio sollicitudin, mollis mauris. Integer sit amet tristique felis.

        Vivamus et est vel magna viverra sodales vitae at tellus. Cras gravida lobortis lacus sit amet volutpat.
        Phasellus maximus elit id lacus faucibus vestibulum. Nunc nec ligula et urna maximus fermentum. Curabitur vitae
        velit tincidunt, gravida urna at, pharetra lectus. Curabitur ac turpis nec dolor tempus interdum ut ultricies
        ipsum. Quisque sit amet pellentesque urna. Donec vulputate leo sed sapien lacinia, vitae imperdiet augue
        vestibulum.
    </p>
</div>