<div class="middle-field">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Úvod">
            <div class="mat-parts">
                <H2 style="text-align: center;">Vitajte na stránke prehľadu očkovania v SR</H2>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Dôležité odkazy
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <a routerLink="/register">Registrácia</a> <br>
                        <a routerLink="/login">Prihlásenie</a>
                    </div>
                </mat-expansion-panel>
            </div>
        </mat-tab>
        <mat-tab label="O nás">
            <div class="mat-parts">
                <p>nulla,
                    convallis at vestibulum eu, sagittis sed nibh. Nunc feugiat auctor elit, id blandit velit malesuada
                    a.
                    Donec
                    odio ex, pellentesque nec feugiat et, cursus ac purus. Morbi viverra pellentesque enim et dignissim.
                    Donec
                    convallis maximus interdum.
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Kontakty">
            <div class="mat-parts">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget ex orci. Ut tristique, justo eget
                    egestas congue, massa sem vehicula libero, ac vulputate augue orci at magna. Proin ut eros vel lorem
                    eleifend dignissim scelerisque in diam. Vestibulum augue quam, ullamcorper eu eleifend ut, interdum
                    in mi. Quisque ut augue eu lacus blandit rhoncus. Ut congue felis a mi tincidunt, sed luctus tellus
                    suscipit. In volutpat eros ac lobortis laoreet. Nulla non ipsum vel ante viverra facilisis. Nulla in
                    lacinia ipsum. Donec lorem urna, pellentesque at vestibulum id, posuere vitae mi. Vestibulum ut
                    metus lorem.

                    Maecenas vel lacus vel lorem sollicitudin ullamcorper nec quis neque. Proin et placerat urna, ut
                    vulputate felis. Praesent facilisis ipsum in neque ultrices, a pharetra massa tristique. Maecenas
                    vitae velit fringilla lectus tincidunt pharetra. Praesent fringilla, massa id dapibus aliquam,
                    tortor nunc vehicula metus, eu hendrerit ante elit a diam. Fusce dignissim, purus ut ultricies
                    rutrum, enim elit vestibulum turpis, nec eleifend tellus ex ut neque. Proin non massa dignissim,
                    placerat urna sit amet, imperdiet turpis. Phasellus neque nunc, tempor in placerat a, blandit quis
                    risus. Donec sed porta nisl. Sed quis justo neque. Donec id risus semper, tempor mauris in, aliquam
                    mi. Aenean viverra quis ex eu laoreet. Cras et diam sit amet elit sollicitudin blandit sit amet a
                    ipsum. Praesent libero diam, finibus lacinia massa quis, posuere ornare nibh. Praesent elementum eu
                    tellus pharetra pellentesque. Donec tincidunt vestibulum lacus, sit amet mattis risus venenatis sed.

                    Proin suscipit accumsan ultricies. Curabitur porttitor elit vitae justo vulputate, ut aliquam tortor
                    pellentesque. Suspendisse quam nunc, molestie eget ultrices quis, pulvinar in magna. Maecenas rutrum
                    mi arcu, ut vestibulum velit auctor id. Aliquam eget accumsan mi, non gravida est. Nullam odio
                    tellus, cursus sed condimentum a, consequat vehicula orci. Sed interdum varius metus, ac aliquet
                    mauris porta quis. Phasellus ut sodales augue. Sed urna tellus, luctus sit amet tincidunt id,
                    scelerisque sed mi. Donec nunc metus, egestas at rutrum quis, euismod id elit.

                    Etiam euismod vulputate magna, eget dictum quam egestas fermentum. Donec vel erat vitae est varius
                    faucibus aliquam ut risus. Donec ultricies in felis vel tincidunt. Aliquam vulputate, nisl sit amet
                    porta porta, mauris diam sodales metus, ut fermentum leo massa sit amet odio. Nullam vel sodales
                    enim. Etiam faucibus, ex ut fermentum vestibulum, metus ipsum pulvinar tellus, in vestibulum ipsum
                    metus quis ex. Integer eu vehicula elit, a maximus libero. Proin viverra at nunc sed suscipit.
                    Quisque nec nulla quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Nullam dictum velit eu erat suscipit accumsan. Mauris a ultrices est.

                    Proin ante massa, pulvinar in faucibus in, gravida sed sem. Suspendisse vel ligula lacus. Aliquam
                    ultrices dolor nec interdum laoreet. Nullam gravida purus vel felis feugiat, eu cursus eros lacinia.
                    Vestibulum feugiat id risus vitae tristique. Aenean interdum ante vitae ultrices elementum.
                    Phasellus fermentum tempor nulla, at tempor massa dapibus eu. Sed lacinia elit hendrerit turpis
                    dictum, id venenatis enim dignissim. Suspendisse pellentesque ante orci. Donec semper dictum purus.
                    Mauris ut metus vel nulla feugiat vulputate.
                </p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>