.header{
    padding: 5px;
    text-align: center;
    background: #1a60bc;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 10px #0c2e5a;
    border-radius: 25px;
    margin-bottom: 15px;
}

button {
    border-radius: 5px;
    background-color: white;
    border: none;
    font-size: 20px;
    margin: 10px;
}


.signpost{
    display: flex;
    align-items: center;
}

.auth-signpost {
    width: 20%;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    .auth-button {
        font-size: 12px;
        margin: 3px;
    }
}