<div class="center">
    <h1>Prihlásenie</h1>
</div>
<div class="auth-field">
    <div class="space">
        <label>Ste zdravotník? </label><a (click)="registerBold()" routerLink="/register">Tu</a> <label> si ho môžete
            vytvoriť.</label>
    </div>
    <div class="space">
        <form [formGroup]="loginForm">
            <div fxLayout="column">
                <div fxFlex="50%">
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail: </mat-label>
                        <input formControlName="mail" matInput>
                    </mat-form-field>
                </div>


                <div fxFlex="50%">
                    <mat-form-field appearance="outline">
                        <mat-label>Heslo: </mat-label>
                        <input formControlName="password" type="password" matInput>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="space">
        <button mat-flat-button color="primary" [disabled]="loginForm.invalid" (click)="onSubmit()">Prihlásenie</button>
    </div>