.form {
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.table {
    display: flex;
    flex-direction: row;        
    
}

.title {
    padding-left: 15px;
    padding-top: 5px;
    font-size: large;
}

.back-button {
    padding-top: 5px;
    padding-left: 10px;
}

