<div class="navigation-panel">
    <span>&lt;&nbsp;</span>
    <a routerLink="/hospital">Nemocnice</a>
</div>
<div class="title-panel">
    <div class="header">Nemocnica</div>
</div>
<form [formGroup]="hospitalForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <div fxLayout="column">
            <div class="forms" fxLayoutGap="5%">
                <div fxFlex="30%">
                    <mat-form-field>
                        <input  matInput formControlName="id" placeholder="Id">
                    </mat-form-field>
                </div>
                <div fxFlex="30%">
                    <mat-form-field>
                        <input matInput formControlName="name" placeholder="Názov">
                    </mat-form-field>
                </div>
                <div fxFlex="30%">
                    <mat-form-field>
                        <input matInput formControlName="postCode" placeholder="PSČ">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card>
    <div class="top-margin">
        <button mat-raised-button color="primary" type="submit" [disabled]="hospitalForm.invalid" mat-button>
            Ulož
        </button>
    </div>
</form> 