<div class="back-button">
    <span>&lt;&nbsp;</span>
    <a routerLink="/hospital">Nemocnice</a>
</div>
<div class="title">
    <div>{{this.hospitalString}}</div>
</div>
<div style="display: flex; justify-content: center;">
    <form class="form" [formGroup]="hospitalForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <div fxLayout="column">
                <div  class="table" fxLayoutGap="5px">
                        <mat-form-field>
                            <input matInput maxlength="30" formControlName="name" placeholder="Názov">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="postCode" placeholder="PSČ">
                        </mat-form-field>
                </div>

                <div class="table" fxLayoutGap="5px">
                    <div>
                        <mat-form-field>
                            <input matInput maxlength="30" formControlName="director" placeholder="Riaditeľ">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <input matInput maxlength="30" formControlName="contact" placeholder="Kontakt">
                        </mat-form-field>
                    </div>
                </div>

                <div class="table" fxLayoutGap="5px">
                    <div>
                        <mat-form-field>
                            <input matInput formControlName="dailyVaccinatedCapacity"
                                placeholder="Denná kapacita očkovania">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <input matInput formControlName="breathSupportCapacity"
                                placeholder="Poč. kyslíkovej podpory">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <button mat-raised-button color="primary" type="submit" [disabled]="hospitalForm.invalid" mat-button>
                    Ulož
                </button>
            </div>
        </mat-card>
    </form>
</div>