/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Source Sans Pro', sans-serif;
}
  
html { background-color: rgb(193, 226, 240); }


    
.middle-field {
    position: relative;
    padding-bottom: 60px;
    margin: auto;
    align-items: center;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    border-style: groove;
}



.auth-field {
    position: relative;
    margin: auto;
    width: 35%;
    background-color: white;
    border-radius: 10px;
    border-style: groove;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
