<div class="auth-field">
    <div class="space">
        <label>Máte konto? </label><a routerLink="/login">Prihláste sa</a>
    </div>
    <form [formGroup]="registerForm">
        <div>

            <div class="fields">
                <mat-form-field appearance="outline">
                    <mat-label>Id zdravotníka: </mat-label>
                    <input formControlName="id" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>E-mail: </mat-label>
                    <input formControlName="mail" matInput>
                </mat-form-field>
            </div>
            <div class="fields">
                <mat-form-field appearance="outline">
                    <mat-label>Heslo: </mat-label>
                    <input formControlName="password" type="password" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Zopakujte heslo: </mat-label>
                    <input formControlName="password2" type="password" matInput>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="space">
        <mat-checkbox class="example-margin">Súhlasím s podmienkami používania.</mat-checkbox>
    </div>
    <div class="space">
        <button mat-flat-button color="primary" [disabled]="registerForm.invalid" (click)="onSubmit()">Registrovať</button>
    </div>
</div>