<div class="auth-field">
    <div>
        <label>Máte konto? </label><a routerLink="/login">Prihláste sa</a>
    </div>
    <div class="fields">
        <mat-form-field appearance="outline">
            <mat-label>Meno: </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Priezvisko: </mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="fields">
        <mat-form-field appearance="outline">
            <mat-label>Heslo: </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Zopakujte heslo: </mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="fields">
        <mat-form-field appearance="outline">
            <mat-label>E-mail: </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Rodné číslo: </mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div>
        <button mat-flat-button color="primary">Registrovať</button>
    </div>
    <div>
        <mat-checkbox class="example-margin">Súhlasím s podmienkami používania.</mat-checkbox>
    </div>
</div>